

#img4
{
    padding-right: 100px;
}
@media only screen and (max-width: 991px) {

    .section-4
    {
        padding-top: 70px;
    }
    #par
    {
        margin-bottom: 4rem;
    }
    .head
    {
        margin-bottom: 1.7rem;
    }
    #sec4
    {
        margin-top: -50px;
    }
     #btn
     {
        text-align: center;
        margin-bottom: 2.7rem;
     }
     .img2{
        margin-top: 3rem;
        border-radius: 12px;
     }
     #par
     {
        margin-top: -.5rem;
     }
  }
  @media only screen and (max-width: 575px) {

   
    #par
    {
        margin-bottom: 4rem;
    }
    
    .btn
     {
       
        margin-bottom: 4rem;
     }
     .head
     {
        font-size: xx-large;

        
     }
   
  }


