$primary-color:#043873;
$background-color:#043873;
$text-color:white;

@import "navbar";
@import "section2";
@import "section3";
@import "section4";
@import"section6";
@import"section8";
@import"footer";